<app-navbar></app-navbar>
<div class="head">
  <h1 class="welcome">Customer Signup</h1>
      <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit('cust-login')">
       
        <div>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput name="name" placeholder="Enter Name" formControlName="name" required>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput name="email" placeholder="Enter Email" formControlName="email" required>
          </mat-form-field>
        </div>
        
        <div>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter Password" [type]="hide ? 'password' : 'text'" name="password" formControlName="password" required>
            <button mat-icon-button matSuffix (click)="hide = false" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="cent">
          <button type="submit" class="btn right btn-primary" >Submit</button>
        </div>
    
    </form>
</div>
